header {
    background-color: #BBBBBB;
    padding: 20px 0;
}

.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li{
    display: inline;
    margin-left: 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover{
    color: brown;
    text-decoration: underline;
}
.productos{
    width:940px;
    margin: 0 auto;
    padding: 50px;
}
.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 10px ;
    box-sizing: border-box;
    border-color: #000000;
    border: 2px solid; 
    border-radius: 10px;
   
    
}

.productos li:hover{
    border-color: yellowgreen;
   
}

.productos li:active{
    border-color: red;
}
.productos h2 {
    font-size: 30px;
    font-weight: bold;
}

.productos li:hover h2{
    font-size:35px;
}
.producto-descripcion {
    font-size: 18px;
    margin: 0 10%;
}

.productos li:hover p{
    font-size: 19px;
}

.producto-precio {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    text-align: center;
    background: url("imagenes/bg.jpg");
    padding: 40px;
}

.copyrigth{
    color: white;
    font-size: 16px;
    margin: 20px;
}

.contacto{
    width: 940px;
    margin: 0 auto;
    
}

form {
    margin: 40px 0;
}

form label,form legend {
    display:block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;   
}